@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/christmas-bell-personal-use');

* {
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,#FED778,#F8983B, #DD2E76, #A9379A, #4F60D2);
    background-attachment: fixed;
}


main {
    margin: auto;
    padding: 140px 10px;
    background-color: rgba(0, 0, 0, 0.225);
    border-radius: 15px;
    max-width: 350px;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}

main > h1{
    font-family: 'Christmas Bell - Personal Use', sans-serif;
    font-weight: lighter;
    font-size: 55px;
    text-align: center;
    color: white;
    margin-top: -75px;
}

main > p {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

#dados {
    margin-top: 35px;
}

input {
    font-size: 12px;
    min-width: 300px;
    min-height: 40px;
    display: block;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.225);
    color: white;
    border-radius: 15px;
    text-indent: 5px;
    margin-bottom: 10px;
    padding: 1px 0px;
    border: none;
}

button {
    min-width: 300px;
    min-height: 30px;
    display: block;
    margin: auto;
    background-color: #DD2E76;
    border-radius: 15px;
    border: none;
    color: white;
    margin-bottom: 7px;
    padding: 3px 40px;
}


#alternativa {
    margin-top: 18px;
    text-align: center;
    margin-bottom: 18px;
}


#facebook {
    background-color: #4F60D2;
    color: white;
}

#reset {
    font-size: 12px;
    margin-top: 20px;
}

#cadastro {
    margin: auto;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, 0.225);
    border-radius: 15px;
    max-width: 350px;
    width: 100%;
    height: 50px;
}

#cadastro > p{
    padding-top: 1em;
    text-align: center;
    color: white;
}

#cadastro > p > a {
    color: white;
    font-weight: bolder;
}

#cadastro > p > a:hover{
    color: lightgray;
}

footer {
    font-weight: bolder;
    font-size: 0.8em;
    text-align: center;
    margin: 150px 20px 5px 20px;   
}

nav > a{
    margin: 7px;
}

nav > a:hover {
    color: lightgray;
}